

<form class = "d-inline-flex" action="/answer" data-turbo="false">
  <input class="form-control" type="text" name="question" value="<%= params[:question] %>">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
